/** @format */
:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

@font-face {
  font-family: game_font;
  src: url(../Emulogic-zrEw.ttf);
}
body {
  background-color: #23143c;
  font-family: game_font;
}
#container1 {
  visibility: hidden;
}
#enemy_name {
  visibility: hidden;
}

.container {
  display: grid;
  height: 500px;
  width: 300px;
  padding: 50px;

  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
  padding: 1.5rem;
  border: 2px solid #67b3b5;
  background-color: rgba(255, 255, 255, 0.877);
  text-align: center;
  cursor: url(../Crosshairs\ 2\ green.cur), pointer;
}

.grid-item1 {
  padding: 1.5rem;
  border: 2px solid #67b3b5;
  background-color: rgba(255, 255, 255, 0.877);
  text-align: center;
  cursor: url(../Crosshairs\ 2\ green.cur), pointer;
}
.player_name {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(129, 51, 125);
}

.title_header {
  height: 60px;
  background-color: #23143c;
  font-size: 2rem;
  color: rgb(49, 126, 72);
  padding-bottom: 10px;
  text-align: center;
}

.ship {
  background-color: rgb(55, 238, 18);
}

.button-container {
  padding-left: 500px;
}
.rotate_button {
  background-color: rgb(7, 7, 7);
  color: rgb(177, 177, 13);
  font-size: 0.6rem;
  font-weight: bolder;
  width: 150px;
  height: 50px;
  border-radius: 3px;
  font-family: game_font;
}

.rotate_button_hide {
  display: none;
}

.message_board {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  text-align: center;
  width: 500px;
  height: 50px;
  padding-top: 10px;
  color: rgb(177, 177, 13);
}
.message_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.both_containers {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.start_button_container {
  /* width: 800px;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.start_game {
  background-color: rgb(7, 7, 7);
  color: rgb(177, 177, 13);
  font-size: 1.2rem;
  font-weight: bolder;
  width: 150px;
  height: 50px;
  border-radius: 3px;
  visibility: hidden;
}

.mark_red {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(168, 49, 49);
  font-size: 1rem;
  font-weight: bolder;
  align-items: center;
  color: red;
}
.mark_green {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(129, 199, 146);
  font-size: 10px;
  font-weight: bolder;
  align-items: center;
}
