/** @format */
:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

.container {
  display: grid;
  height: 500px;
  width: 300px;
  padding: 50px;

  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
  padding: 1.5rem;
  border: 0.1px solid rgb(0, 255, 242);
  background-color: rgba(255, 255, 255, 0.877);
  text-align: center;
  cursor: pointer;
}

.grid-item1 {
  padding: 1.5rem;
  border: 0.1px solid rgb(0, 255, 242);
  background-color: rgba(255, 255, 255, 0.877);
  text-align: center;
  cursor: pointer;
}
.player_name {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.title_header {
  height: 80px;
  background-color: rgb(73, 72, 72);
  font-size: 1.5rem;
  color: white;
  padding-bottom: 10px;
  text-align: center;
}

.ship {
  background-color: rgb(73, 72, 72);
}

.button-container {
  padding-left: 500px;
}
.rotate_button {
  background-color: rgb(7, 7, 7);
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
  width: 150px;
  height: 50px;
  border-radius: 3px;
}

.rotate_button_hide {
  display: none;
}
.attack_button_hide {
  display: none;
}
.attack_button_appear {
  display: block;
  background-color: rgb(7, 7, 7);
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
  width: 150px;
  height: 50px;
  border-radius: 3px;
}
.message_board {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  width: 500px;
  height: 50px;
  padding-top: 10px;
}
.message_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.both_containers {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
